@model Activity.Models.User
@{
    ViewBag.Title = "注册";
    Layout = "~/Views/Shared/_SiteLayout.cshtml";
}

@section scripts{
	<script>
		function Save() {
			if (!$.validatebox.valid()) {
				return;
			}
			
			var password = $("#password").val();
			var password1 = $("#password1").val();

			if (password != password1) {
				alert("两次密码输入不相同！");

				return;
			}

			var postData = getFormJson($('#Form'));

			HammerAjax('/login/Register', postData, function (data) {
				if (data.Tag == 1) {
					alert("恭喜你，注册成功！");
					window.location.href = "/account/profile";
				}
				else {
					alert(data.Message);
				}
			});
		}
	</script>
}

<div class="indexLert">
	<div class="submenu">
		@Html.Partial("MenuList")
	</div>
</div>
<div class="content">
	<div class="leftBox">
		<div class="mbox_l">
		<form id="Form">
			<h3>用户注册<span>新用户</span></h3>
			<div class="fix mb10" style="overflow: hidden; _height: 1%;">
				<div class="subt pt7"><p><strong><span>*</span>用户名：</strong></p></div>
				<div class="formwrap1">
					<div class="con1">
						<input value="" class="easyui-validatebox validatebox-text"  validtype="required(用户名)" name="UserID" id="UserID" type="text">
					</div>
				</div>
			</div>
			<div class="fix mb10" style="overflow: hidden; _height: 1%;">
				<div class="subt pt7"><p><strong><span>*</span>密码：</strong></p></div>
				<div class="formwrap1">
					<div class="con1">
						<input class="easyui-validatebox validatebox-text" validtype="required(密码)" name="Password" id="password" type="password">
					</div>
				</div>
			</div>
			<div class="fix mb10" style="overflow: hidden; _height: 1%;">
				<div class="subt pt7"><p><strong><span>*</span>确认密码：</strong></p></div>
				<div class="formwrap1">
					<div class="con1">
						<input class="easyui-validatebox validatebox-text" validtype="required(确认密码)" name="Password1" id="password1" type="password">
					</div>
				</div>
			</div>
			<div class="fix mb10" style="overflow: hidden; _height: 1%;">
				<div class="subt pt7"><p><strong>邮箱：</strong></p></div>
				<div class="formwrap1">
					<div class="con1">
						<input class="easyui-validatebox validatebox-text" validtype="email" name="Email" id="Email" type="text">
					</div>
				</div>
			</div>
            <div class="fix mb10" style="overflow: hidden; _height: 1%;">
				<div class="subt pt7"><p><strong><span>*</span>姓名：</strong></p></div>
				<div class="formwrap1">
					<div class="con1">
						<input class="easyui-validatebox validatebox-text" validtype="required(姓名)" name="Name" id="Name" type="text">
					</div>
				</div>
			</div>
			<div class="fix mb10" style="overflow: hidden; _height: 1%;">
				<div class="subt pt7"><p><strong><span>*</span>联系方式：</strong></p></div>
				<div class="formwrap1">
					<div class="con1">
						<input class="easyui-validatebox validatebox-text" validtype="required(联系方式)|Phone" name="Contact" id="Contact" type="text">
					</div>
				</div>
			</div>
			<div class="new_log_btn">
				<input id="submit" onclick="Save()" value="注册" class="btn_log2 btn_submit" type="button">  
			</div>
		</form>
		</div>
	</div>
	@Html.Partial("_Sidebar")
</div>