<div class="formwrap1 mb10 formwrap2">
	<div class="mosh_ad_1">
		<div class="fix">
			<div class="subt pt7"><p><strong>即将开始的活动: </strong></p></div>
			<span style="color: Olive; line-height: 30px;">@Activity.Helpers.LabelHelper.GetNotStartActiveCount()</span>
		</div>
		<div class="fix">
			<div class="subt pt7"><p><strong>进行中的活动: </strong></p></div>
			<span style="color: Olive; line-height: 30px;">@Activity.Helpers.LabelHelper.GetActiveCount()</span>
		</div>
		<div class="fix">
			<div class="subt pt7"><p><strong>结束的活动: </strong></p></div>
			<span style="color: Olive;line-height: 30px;">@Activity.Helpers.LabelHelper.GetEndActiveCount()</span>
		</div>
		<div class="fix">
			<div class="subt pt7"><p><strong>审核中的活动: </strong></p></div>
			<span style="color: Olive;line-height: 30px;">@Activity.Helpers.LabelHelper.GetDisActiveCount()</span>
		</div>
	</div>
</div>