@model Activity.Models.Paginated<Activity.Models.ActiveTag>
@{
    ViewBag.Title = "TagsList";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}
<script>
	function Add() {
		if (!$.validatebox.valid()) {
			return;
		}

		var postData = $('.form').serializeArray();

		HammerAjax('/admin/settings/AddTag', postData, function (data) {
			if (data.Tag == 1) {
				alert("添加成功!");
				window.location.href = "/admin/settings/TagsList";
			}
			else {
				alert(data.Message);
			}
		});
	}
</script>
<fieldset class="form">
	<legend>添加热门标签</legend>
	<p>
		<input name="tag" validtype="required|manLen(16)" /> <input type="button" onclick="Add()" value="添加"/>
	</p>
</fieldset>
<table class="grid">
	<tr>
		<th>标签</th>
		<th>操作</th>
	</tr>
	@foreach (var item in Model)
	{
		<tr>
			<td>@item.Tag</td>
			<td>
				<a href="/admin/settings/remove/@item.Tag" class="delete">移除</a>
			</td>
		</tr>
	}
</table>
@Model.Pager("pager")