
<!DOCTYPE html>

<html>
<head>
    <title>Admin :: @ViewBag.Title</title>
	<link href="/App_Themes/Admin/Style.css" rel="stylesheet" type="text/css" />
	<link href="/App_Themes/black-tie/jquery-ui-1.8.13.custom.css" rel="stylesheet"	type="text/css" />
	<link href="/App_Themes/EasyUI/easyui.css" rel="stylesheet" type="text/css" />

	<script src="/Scripts/jquery-1.4.4.min.js" type="text/javascript"></script>
	<script src="/Scripts/jquery.easyui.js" type="text/javascript"></script>
	<script src="/Scripts/jquery-ui.min.js" type="text/javascript"></script>
	<script src="/Scripts/Form.js" type="text/javascript"></script>
	<script src="/Plugins/xheditor/xheditor-1.1.14-zh-cn.min.js" type="text/javascript"></script>
	<script src="/Scripts/validate.js" type="text/javascript"></script>

	<script type="text/javascript">

		function InitializeButtonsStandard() {
			$("button").button();
			$("a.button").button();
			$(".button-add").button({ icons: { primary: 'ui-icon-plus'} });
			$(".button-save").button({ icons: { primary: 'ui-icon-check'} });
			$(".button-edit").button({ icons: { primary: 'ui-icon-pencil'} });
			$(".button-delete").button({ icons: { primary: 'ui-icon-trash'} });
			$(".button-cancel").button({ icons: { primary: 'ui-icon-arrowreturnthick-1-w'} });
			$(".button-edit-icon").button({ icons: { primary: 'ui-icon-pencil' }, text: false });
			$(".button-delete-icon").button({ icons: { primary: 'ui-icon-trash' }, text: false });

			$(".delete").click(function (event) {
				if (!confirm("确认要删除该记录吗?")) {
					event.preventDefault();
				}
			});
		}

		function InitializeButtonsCustom() {
			$('input[type="text"], input[type="password"], textarea').addClass("field-idle");

			$('input[type="text"], input[type="password"], textarea').focus(function () {
				$(this).removeClass("field-idle").addClass("field-focus");
			});

			$('input[type="text"], input[type="password"], textarea').blur(function () {
				$(this).removeClass("field-focus").addClass("field-idle");
			});
		}

		function InitializeUI() {
			InitializeButtonsCustom();
			InitializeButtonsStandard();
		}

		$(function () {
			$("#main-menu").accordion({
				header: 'h3',
				autoHeight: false,
				navigation: true
			});

			$("#top-menu").menu({ orientation: 'horizontal' });
			$("#button-logout").button({ icons: { primary: 'ui-icon-unlocked' }, text: false });
			$("#login-user").button({ icons: { primary: 'ui-icon-person'} });
			$("#live-site").button({ icons: { primary: 'ui-icon-extlink' }, text: false });

			$("table.grid tr:even").addClass("alt");

			InitializeUI();
		});

	</script>

	@RenderSection("Head", false)
</head>
<body>
	<div id="page-content">
		<div id="sidebar">
			<h1>活动网站</h1>
			<p style="font-size:11px;">
				<a id="login-user" href="" style="width: 120px;" title="Settings">&nbsp;@User.Identity.Name</a> 
				<a id="button-logout" href="/login/Logout">退出</a>
				<a id="live-site" href="/" target="_blank">网站首页</a> 
			</p>
			<br />
			<br />
			<br />

			<div id="main-menu">
				<h3><a href="#">活动管理</a></h3>
				<div>
					<ul>
						<li><a href="/Admin/Active/NotStart">即将开始的活动</a></li>
						<li><a href="/Admin/Active/index">进行中的活动</a></li>
						<li><a href="/Admin/Active/endActive">已结束的活动</a></li>
						<li><a href="/Admin/Active/Wait">审核列表</a></li>
						<li><a href="/admin/active/categories">活动分类</a></li>
					</ul>
				</div>
				<h3><a href="#">新闻和公告</a></h3>
				<div>
					<ul>
						<li><a href="/admin/blog/Index/?categoryID=1">新闻列表</a></li>
						<li><a href="/admin/blog/index/?categoryID=2">公告列表</a></li>
						
					</ul>
				</div>
                <h3><a href="#">投票与讨论</a></h3>
				<div>
					<ul>
						<li><a href="/admin/Vote/Index">投票贴管理</a></li>
						<li><a href="/admin/blog/index/?categoryID=3">讨论贴管理</a></li>
					</ul>
				</div>
				<h3><a href="#">系统设置</a></h3>
				<div>
					<ul>
						<li><a href="/Admin/Settings/Company">设置</a></li>
                        <li><a href="/Admin/Active/SmsLog">短信发送日志</a></li>
						<li><a href="/admin/settings/HotTags">热门关键字设置</a></li>
						<li><a href="/admin/picture/index">首页图片管理</a></li>
						<li><a href="/admin/settings/users">用户管理</a></li>
						<li><a href="/Admin/Settings/Password">修改密码</a></li>
					</ul>
				</div>
			</div>
		</div>
		<div id="content">
			@RenderBody()
		</div>
	</div>
</body>
</html>
